#container {
  height: 100%;
}

#top-middle-sample {
  height: 100%;
}

#top-middle-sample #top-menu {
  width: 100%;
  height: 50px;
  background-color: red;
}

#top-middle-sample #middle-container{
  height: 100%;
  background-color: blue;
}