
.indices-relative-analytics-expect
  &.common-bg
    background colorBg
  .joint-link
    pointer-events none
  .joint-port circle
    cursor pointer
  .go-back
    position fixed
    bottom 34px
    left 29px
    width:100px;
    height:74px;
    font-size:12px;
    font-family:Source Han Sans CN;
    font-weight:400;
    color:rgba(186,195,198,1);
    text-align center
    border-radius:37px;
    z-index 10
  
  .padding
    padding 50px 0 0 10px
  .expand-line-input-node-box
    position absolute
    background none
    font-size 16px
    vertical-align middle
    text-align center
    .expand-line-input-node-box-label
      color #BAC3C6
      font-size 14px
      text-align center
    .input-value
        list-style-type none
        display inline-block
        color #0194E2
        text-align center
        background #013A59
        pointer-events auto !important
        line-height 30px
      input
        width 46px
        height 30px
        font-size 20px
        font-weight bold
        text-align center
        color #0194E2
        background none
        background-color #D7DFE2
        outline none
        border none
      li
        list-style-type none
        display inline-block
        vertical-align top
        color #44626E
        background-color #D7DFE2
        width 31px
        font-size 20px
        height 30px
        cursor pointer
  .expand-underline-node-text
    position absolute
    margin-top 1px
    background none
    color #BAC3C6
    font-size 16px
    border-bottom 3px solid #0194E2
    pointer-events none
    line-height 35px
    text-align center
  .expand-box
    user-select none
    position absolute
    background #0E4275
    // pointer-events none
    .expand-box-header 
      height 50px
      line-height 50px
      text-align center
      color #fff
      font-size 16px
    .expand-box-body 
      height 168px
      background-color #04274B
      color #BAC3C6
      margin 0 15px
    .expand-box-body-header
      font-size 14px
      line-height 45px
      height 45px
      border-bottom 1px solid #01141F
      text-align center
      color #BAC3C6
      font-size 18px
    .expand-box-body-body
      color #BAC3C6
      height 106px
      div
        margin-top 10px
        margin-left 10px
        height 43px
        line-height 43px
        font-size 18px
      .expand-box-body-predict-value span:nth-child(2)
        display inline-block
        margin-left 60px
        width 80px
        color #FF6765
        text-align center
        background #013A59
        pointer-events auto !important
      .expand-box-body-actual-value span:nth-child(2)
        display inline-block
        margin-left 60px
        width 80px
        text-align center
      .expand-box-body-predict-input-value
        list-style-type none
        display inline-block
        color #FF6765
        text-align center
        pointer-events auto !important
        input 
          width 82px
          height 30px
          font-size 18px
          text-align center
          background none
          background-color #D7DFE2
          outline none
          border none
          vertical-align middle
        li
          display inline-block
          vertical-align middle
          color #44626E
          background-color #D7DFE2
          width 25px
          height 30px
          line-height 30px
          cursor pointer
